[Unit]
Description=matterhub
After=network.target

[Service]
User=hyodol
WorkingDirectory=/home/hyodol/Desktop
ExecStart=sh /home/hyodol/Desktop/matterhub/matterhub.sh
Restart=always
RestartSec=5
#Environment="PYTHONPATH=/usr/lib/python3/dist-packages"

[Install]
WantedBy=multi-user.target
