[Unit]
Description=matterhub
After=network.target

[Service]
User=matterhub
WorkingDirectory=/home/matterhub/Desktop
ExecStart=sh /home/matterhub/Desktop/matterhub/matterhub.sh
Restart=always
RestartSec=5
#Environment="PYTHONPATH=/usr/lib/python3/dist-packages"

[Install]
WantedBy=multi-user.target